<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Continuwuity{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%- if !context.allow_indexing %}
    <meta name="robots" content="noindex" />
    {%- endif %}

    <link rel="icon" href="{{ crate::ROUTE_PREFIX }}/resources/logo.svg">
    <link rel="stylesheet" href="{{ crate::ROUTE_PREFIX }}/resources/common.css">
    <link rel="stylesheet" href="{{ crate::ROUTE_PREFIX }}/resources/components.css">
    {% block head %}{% endblock %}
</head>

<body>
    {%~ block content %}{% endblock ~%}
    {%~ block footer ~%}
        <footer>
            <a href="{{ crate::ROUTE_PREFIX }}/"><img class="logo" alt="Continuwuity logo" src="{{ crate::ROUTE_PREFIX }}/resources/logo.svg"></a>
            <p>Powered by <a href="https://continuwuity.org">Continuwuity</a> {{ env!("CARGO_PKG_VERSION") }} &bullet; <a href="{{ crate::ROUTE_PREFIX }}/about">About</a></p>
        </footer>
    {%~ endblock ~%}
</body>

</html>
