{% extends "_layout.html.j2" %}

{%- block title -%}
Reset Password
{%- endblock -%}

{%- block content -%}
<div class="panel narrow">
    <h1>Reset Password</h1>
    {{ user_card }}
    {% match body %}
        {% when PasswordResetBody::Form(reset_form) %}
        {{ reset_form }}
        {% when PasswordResetBody::Success %}
        <p>Your password has been reset successfully.</p>
    {% endmatch %}
</div>
{%- endblock -%}
