{% extends "_layout.html.j2" %}

{%- block content -%}
<div class="panel">
    <h1>Email verification</h1>
    <p>Your email address has been verified. Return to your Matrix client to continue.</p>
</div>
{%- endblock content -%}
