<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Continuwuity{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style type="text/css" nonce="{{ nonce }}">
        /*<![CDATA[*/
            {{ include_str !("css/index.css") | safe }}
        /*]]>*/
    </style>
</head>

<body>
    <main>{%~ block content %}{% endblock ~%}</main>
    {%~ block footer ~%}
        <footer>
            <p>Powered by <a href="https://continuwuity.org">Continuwuity</a>
                {%~ if !version.is_empty() ~%}
                    {%~ if !git_url.is_empty() ~%}
                        (<a href="{{ git_url }}">{{ version }}</a>)
                    {%~ else ~%}
                        ({{ version }})
                    {%~ endif ~%}
                {%~ endif ~%}</p>
        </footer>
    {%~ endblock ~%}
</body>

</html>
