<div class="card red-avatar">
    {{ avatar }}
    <div class="info">
        {% if let Some(display_name) = display_name %}
        <div class="name">{{ display_name }}</div>
        {% endif %}
        <div class="id">{{ user_id }}</div>
    </div>
</div>
