<div class="user-card">
    {{ avatar() }}
    <div class="info">
        {% if let Some(display_name) = display_name %}
        <p class="display-name">{{ display_name }}</p>
        {% endif %}
        <p class="user_id">{{ user_id }}</p>
    </div>
</div>
